@import url('https://fonts.googleapis.com/css2?family=Nunito&family=Work+Sans&display=swap'); //importar fuentes

//colores
$verde_claro: #7ed957ff;
$verde_oscuro:#50c31eff;
$naranja:#ffa24dff;
$beige:#fff9eaff;
$gris_claro: rgb(243, 240, 240);
$gris: #545454;
$gris_oscuro: #303433;
$color_fondo_claro: #eceff1;
//fuentes
$titulos: 'Work Sans', sans-serif;
$parrafos: 'Nunito', sans-serif;

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body{
    font-family: $parrafos;
    font-size:large;
    margin:0;
    text-align: center;
    /*margin-top: 5%;
    margin-bottom: 5%;*/
    
    background-color: $color_fondo_claro;

}

h1,h2,h3,h4{
    font-family: $titulos;

}


button.btnVerde {
    font-size:large;
    font-family: 'Nunito', sans-serif;
    background-color: #7ed957;
    border: 1px solid #7ed957;
    color: white;
    padding: 10px;
    min-width: 15%;
    text-align: center;
    border-radius: 12px;
    margin-top: 2%;
    margin-bottom: 2%;
}

button.btnVerde:hover{
    color: #7ed957;
    border-radius: 12px;
    background-color: white;
    border: 1px solid #7ed957;
    cursor: pointer;
}

header{
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    background: white;
    padding: 28px 12%;
    transition: all .50s ease;

    a#logo{
        display: flex;
        img{
            width: 50%;
        }
    }

    ul#menu{
        display: flex;

        a{
            color: $gris;
            font-family: $titulos;
            font-size: 1.1rem;
            font-weight: 500;
            padding: 5px 0;
            margin: 0px 30px;
            transition: all .30s ease;
        }

        a:hover{
            color: $verde_oscuro;
        }
    }

    div#user{
        display: flex;
        align-items: center;
        margin-left: 15%;
        position: fixed;
        right: 15vw;

        div#profile{
            position: relative;
            width: 60px;
            height: 60px;
            border-radius: 50%;
            overflow: hidden;
            cursor: pointer;

            img{
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        div#profilemenu{
            position: absolute;
            top: 120px;
            right: -10px;
            padding: 10px 20px;
            background: $gris_claro;
            width: 200px;
            box-sizing: 0 5px 25px rgba(0,0,0,0.1);
            border-radius: 15px;
            transition: 0.5s;
            visibility: hidden;
            opacity: 0;
        }

        div#profilemenu.active{
            top: 80px;
            visibility: visible;
            opacity: 1;
        }

        div#profilemenu::before{
            content: '';
            position: absolute;
            top: -5px;
            right: 28px;
            width: 20px;
            height: 20px;
            background: $gris_claro;
            transform: rotate(45deg);
        }


        div#profilemenu h3{
            width: 100%;
            text-align: center;
            font-size: 18px;
            font-family: $titulos;
            font-weight: 500;
            padding: 20px 0;
            line-height: 1.2em;
        }

        div#profilemenu h3 span{
            font-size: 14px;
            font-weight: 400;
            font-family: $parrafos;
        }

        div#profilemenu ul li{
            list-style: none;
            padding: 10px 0;
            border-top: 1px solid $gris;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        div#profilemenu ul li i{
            max-width: 20px;
            margin-right: 10px;
            transition: 0.3s;
            opacity: 0.5;
            color: black;
        }

        div#profilemenu ul li:hover i{
            opacity: 1;
        }

        div#profilemenu ul li a{
            display: inline-block;
            text-decoration: none;
            color: black;
            font-weight: 500;
            font-family: $parrafos;
            transition: 0.3s;
        }

        div#profilemenu ul li:hover a{
            color: $verde_oscuro;
        }

    }   

    div#menuicon i{
        font-size: 35px;
        color: $gris;
        cursor: pointer;
        z-index: 10001;
        margin-left: 10vh;
    }

    div#menuicon{
        display: none;
       
        @media (max-width:900px){
            &{
                display:block;
            }    
        }
    }


}

@media (max-width:900px){

    header{
        padding: 14px 2%;
        transition: .2s;
    }

    ul#menu a{
        padding: 5px 0;
        margin: 0px 20px;
    }
}

@media (max-width:900px){
    div#menuicon{
        display: block;
    }
    ul#menu{
        position: absolute;
        top: 100%;
        right: -100%;
        width: 270px;
        height: 26vh;
        background: $verde_claro;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        border-radius: 10px;
        transition: all .50s ease;
    }
    ul#menu li a{
        display: block;
        margin: 12px 0;
        padding: 0px 25px;
        transition: all .50s ease;
        color: $gris;
    }
    ul#menu li a:hover{
        color: $gris;
        transform: translateY(5px);
    }

    ul#menu.open{
        right: 2%;
    }
}

//Login
div#login {
    font-family: 'Work Sans', sans-serif;
    color: $gris_oscuro;
    min-height: 100vh;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
}

section.side {
    background: url(../img/bk.png) no-repeat;
    background-size: 100% 102%;
}

.side img {
    width: 40%;
    max-width: 50%;
}

.login-container {
    max-width: 450px;
    padding: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    text-transform: uppercase;
    font-size: 3em;
    font-weight: bold;
    text-align: center;
    letter-spacing: 1px;
}

.separator {
    width: 150px;
    height: 4px;
    background-color: #50c31e;
    margin: 24px;
}

.welcome-message {
    text-align: center;
    font-size: 1.1em;
    line-height: 28px;
    margin-bottom: 30px;
    color: #696969;
}

.login-form {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.form-control {
    width: 100%;
    position: relative;
    margin-bottom: 24px;
}

.inputlogin,
button {
    border: none;
    outline: none;
    border-radius: 30px;
    font-size: 1.1em;
}

.inputlogin {
    width: 100%;
    background: #e6e6e6;
    color: #333;
    letter-spacing: 0.5px;
    padding: 14px 64px;
}

.inputlogin ~ i {
    position: absolute;
    left: 32px;
    top: 50%;
    transform: translateY(-50%);
    color: #888;
    transition: color   0.4s;
}


button.submit {
    color: #fff;
    padding: 14px 64px;
    margin: 32px auto;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: bold;
    background: #50c31e;
    cursor: pointer;
    transition: opacity 0.4s;
}

button.submit:hover {
    opacity: 0.9;
}

.login-container{
    a{
        color: $gris;
    }
}
/* ----  Responsiveness   ----  */
@media (max-width: 780px) {

    div#login {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .side {
        display: none;
    }
}

//Página registro nutricionista


    .inputregistro{
        font-size:large;
        font-family: 'Nunito', sans-serif;
        margin-top: 1%;
        margin-bottom: 3%;
    }
    


    dialog {
        min-width: 100%;
        min-height: 100%;
        margin-top: 2.8%;
        background-color: #eceff1;
        border: none;
       
        margin-left: 0.05%;
           
    }

    dialog::backdrop {
        background-color: #eceff1;
    }


//Perfil Nutricionista

.datosNutricionista,.ContenedorPesos,h4{
    font-family: 'Work Sans', sans-serif;

}
.centrarContenidoPerfil{
    height: 120px;
    width: auto;
    text-align: center;
    background-color: rgba(0, 255, 255, 0);
}

.centrarContenidoPerfil img {
    border-radius: 50%; 
    width: 4rem;
}

.centrarContenedorPesos{
    background-color: rgba(255, 0, 0, 0);
    padding: 5px;
    --height: 500px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.contenedorActualizarPeso {
    padding: 20px;
    text-align: center;
    background-color: rgba(255, 255, 0, 0);
}

.contenedorActualizarPeso button {
    cursor: pointer;
    padding: 10px;
    text-align: center;
    width: 200px;
    box-shadow: 0px 5px rgba(0,0,0,0.5);
    border: 0px;
    border-radius: 15px;
    background-color:#7ED957;
    color: white;
}

.contenedorActualizarPeso button:hover {
    transform: scale(1.05);
}

.ContenedorPesos {
    background-color: #ffffff;
    padding: 10px;
    margin: 1px;
    height: 60px;
    width: 300px;
    text-align: center;
}

.FondoDatosNutricionista {
    background-color: #ffffff;
    margin-left: 8rem;
    margin-right: 8rem;
    border-radius: 10px;
}

.FondoDatosNutricionista a {
  text-decoration: none;
  color: black;
}

.datosNutricionista {
    padding: 20px;
}

.datosNutricionista:hover {
    cursor: pointer;
    transform: scale(1.03);
    background-color: #899CA9;
    color: white;
    border-radius: 10px; 
}

#nombreYapellidos {
  padding: 5px;
}

#sexo {
  padding: 5px;
}

h4.perfil{
    margin-left: 8rem;
}

//Perfil paciente

.datosCliente,.ContenedorPesos,h4{
    font-family: 'Work Sans', sans-serif;

}
.centrarContenidoPerfil{
    height: 120px;
    width: auto;
    text-align: center;
    background-color: rgba(0, 255, 255, 0);
}

.centrarContenidoPerfil img {
    border-radius: 50%; 
    width: 4rem;
}

.centrarContenedorPesos{
    background-color: rgba(255, 0, 0, 0);
    padding: 5px;
    --height: 500px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.contenedorActualizarPeso {
    padding: 20px;
    text-align: center;
    background-color: rgba(255, 255, 0, 0);
}

.contenedorActualizarPeso button {
    cursor: pointer;
    padding: 10px;
    text-align: center;
    width: 200px;
    box-shadow: 0px 5px rgba(0,0,0,0.5);
    border: 0px;
    border-radius: 15px;
    background-color:#7ED957;
    color: white;
}

.contenedorActualizarPeso button:hover {
    transform: scale(1.05);
}

.ContenedorPesos {
    background-color: #ffffff;
    padding: 10px;
    margin: 1px;
    height: 60px;
    width: 300px;
    text-align: center;
}

.FondoDatosCliente {
    background-color: #ffffff;
    margin-left: 8rem;
    margin-right: 8rem;
    border-radius: 10px;
}

.datosCliente {
    padding: 20px;
}

.datosCliente:hover {
    cursor: pointer;
    transform: scale(1.03);
    background-color: #899CA9;
    color: white;
    border-radius: 10px;
}

//Admin
h1.admin{
    margin-bottom: 3%;
}

table.admin{
    margin: auto;
    background-color: #e2e5e7;
    border-collapse: collapse !important;
    border-style: hidden; 
    width: 70%;
    text-align: center;
    
}

td.admin{
    padding: 1em;
}

table tr:nth-child(2n+1).admin{
    background-color: white;
}


//Menu_semanal_nutricionista_cliente
#bodyMenuSemanal {
    margin: 0%;
    background-color: #eceff1;
}

.centrarContenidoPerfil{
    height: 100px;
    width: auto;
    display: flex;
    align-items: left;
    margin-left: 8rem;
    margin-right: 8rem;
    justify-content: left;
    background-color: rgba(0, 255, 255, 0);
}

.centrarContenidoPerfil img {
    border-radius: 50%; 
    width: 5rem;
}

.centrarContenidoPerfil h4 {
    margin-left: 5px;
    margin-top: 30px;
}

.cabeceraSemana{
    height: 50px;
    width: auto;
    margin-left: 8rem;
    margin-right: 8rem;
    display: grid;
    grid-template-columns: 560px 450px;
    background-color: rgba(220, 26, 23, 0);
    color: #0a0a0a;
}

.semanaActual {
    background-color: rgba(0, 255, 255, 0);
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: right;
}

.semanaSiguiente {
    background-color: rgba(149, 0, 255, 0);
    height: 50px;
    display: flex;
    margin-left: 25rem;
    align-items: center;
    float: right;
    justify-content: right;
    cursor: pointer;
    
}

.menuDia {
    position: static;
    height: auto;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    border-radius: 15px;
    width: auto;
    padding: 10px;
    margin-bottom: 4rem;
    margin-left: 8rem;
    margin-right: 8rem;
    background-color: #ffffff;
}

#menuDiah3 {
    margin-left: 2rem;
    font-family: 'Work Sans', sans-serif;
}

#menuDiah5 {
    margin-left: 2rem;
    font-family: 'Work Sans', sans-serif;
    background-color: rgba(0, 255, 255, 0);
}

#searchMenuDia {
    width: 100px;
    border-radius: 20px;
}

div#caja{
    display: grid;
    grid-template-columns: 300px 300px 300px 150px;
    grid-template-rows: repeat(1,170px);
    margin-left: 2rem;
    background-color: rgba(0, 255, 255, 0);
}

#imgNombreComidas {
        align-items: center;
        justify-content:center;
        display: flex;
        margin-left: 0rem;
        margin-right: 2rem;
        margin-top: 1rem;
        border-radius: 10%;
        height:140px;
        width:140px;
}

div#caja{
    display: grid;
    grid-template-columns: 300px 300px 300px 20px;
    grid-template-rows: 190px;
    margin-left: 2rem;
    margin-bottom: 2rem;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 255, 255, 0);
}

div#caja div{
  background-color:rgba(196, 195, 200, 0.71);
  padding:20px;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
  display: flex;
  height:150px;
  width:250px;
}

#checkmark {
        height: 25px;
        width: 25px;
        background-color: #eee;
}

#infoIcon {
        margin-right: 0rem;
        cursor: pointer;
}
#slider {
    cursor: pointer;
}


@media screen and (max-width:800px) {

    
.menuDia{
        background-color: white;
        margin-bottom: 2%;
        padding: 2%;
        width: 100%;
        display:flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    flex:1 0 auto;
    display: inline-block;
    }
}

@media screen and (min-width:800px) {

    
.menuDia{
        background-color: white;
        margin-bottom: 2%;
        padding: 2%;
        width: 100%;
        display:flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    flex:1 0 auto;
    display: inline-block;
    }
}

//Receta Categoria Nutricionista
#bodyMenuSemanal {
    margin: 0%;
    background-color: #eceff1;
}

.centrarContenidoPerfil{
    height: 100px;
    width: auto;
    display: flex;
    align-items: left;
    margin-left: 8rem;
    margin-right: 8rem;
    justify-content: left;
    background-color: rgba(0, 255, 255, 0);
}

.centrarContenidoPerfil img {
    border-radius: 50%; 
    width: 5rem;
}


.cabeceraSemana{
    height: 50px;
    width: auto;
    justify-content: right;
    align-items: center;
    display: flex;
    margin-left: 8rem;
    margin-right: 8rem;
    background-color: rgba(220, 26, 23, 0);
    color: #0a0a0a;
}

.semanaSiguiente button {
    background-color: rgb(5, 107, 61);
    border: solid 0px;
    border-radius: 20px;
    padding: 10px;
    color: #ffffff;
    height: 25px;
    display: flex;
    margin-left: 22rem;
    align-items: center;
    justify-content: right;
    cursor: pointer;
    
}

.menuDia {
    height: auto;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    border-radius: 15px;
    width: auto;
    padding: 10px;
    margin-left: 8rem;
    margin-right: 8rem;
    background-color: #ffffff;
}

#menuDiah3 {
    margin-left: 2rem;
    font-family: 'Work Sans', sans-serif;
}

#menuDiah5 {
    margin-left: 2rem;
    font-family: 'Work Sans', sans-serif;
    background-color: rgba(0, 255, 255, 0);
}

#searchMenuDia {
    width: 100px;
    border-radius: 20px;
}

div#caja{
    display: grid;
    grid-template-columns: 300px 300px 300px 150px;
    grid-template-rows: repeat(1,170px);
    margin-left: 2rem;
    background-color: rgba(0, 255, 255, 0);
}

#imgNombreComidas {
        align-items: center;
        justify-content:center;
        display: flex;
        margin-left: 0rem;
        margin-right: 2rem;
        margin-top: 1rem;
        border-radius: 10%;
        height:140px;
        width:140px;
}

div#caja{
    display: grid;
    grid-template-columns: 300px 300px 300px;
    grid-template-rows: 190px;
    margin-left: 2rem;
    margin-bottom: 2rem;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 255, 255, 0);
}

div#caja div{
  background-color:rgba(196, 195, 200, 0.71);
  padding:20px;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
  display: flex;
  height:150px;
  width:250px;
}

#checkmark {
        height: 25px;
        width: 25px;
        background-color: #eee;
}

#infoIcon {
        margin-right: 0rem;
}

@media screen and (max-width:800px) {

    
.menuDia{
        background-color: white;
        margin-bottom: 2%;
        padding: 2%;
        width: 100%;
        display:flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    flex:1 0 auto;
    display: inline-block;
    }
}

@media screen and (min-width:800px) {

    
.menuDia{
        background-color: white;
        margin-bottom: 2%;
        padding: 2%;
        width: 100%;
        display:flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    flex:1 0 auto;
    display: inline-block;
    }
}

//Crear Receta nutricionista

.foto{
    grid-area: foto;
}

.formu{
    grid-area: formu;
}

.tipo{
    grid-area: tipo;
}

.ingre{
    grid-area: ingre;
}

.prepa{
    grid-area: prepa;
}

.valores{
    grid-area: valores;
}

.contener{
    display: grid;
    grid-template-areas: 
    'foto foto foto formu formu formu'
    'foto foto foto tipo tipo tipo'
    'ingre ingre ingre prepa prepa prepa'
    'valores valores valores valores valores valores';
    gap: 20px;
    
    ;
}

.contener{
    background-color: white;
    margin-left: 25%;
    margin-right: 25%;
    padding: 1%;
    
}

.contener >div{
    background-color: white;
    
}

table#recetatabla{
    margin: auto;
    background-color: white;
    border-collapse: collapse !important;
    width: 50%;
    border: none;
    padding-left: 90%;
    padding-right: 90%;
    text-align: center;
    
}

table td #recetatabla{
    background-color: white;
    max-width: 5%;
    
}

.valor{
    max-width: 5%;
}

#list{
    display: flex;
    justify-content: center;
    align-items: center;
}



/*-----div de la imagen-----*/
.imagen{

    text-align:center;
    padding: 4%;
    margin-top: 3%;
    margin-right: 50%;
    margin-left: 50%; 
    height: 6rem;
    width: 6rem;
    border:thin solid black;
    
}

#inputTag{
    display: none;
    cursor: pointer;
}
#lableImg{
    cursor:pointer;
}
/*-------------------------*/

// Dietas Semanal Paciente


#plato{
background-color: #e7ebec;
padding: 1em;
margin: 2em;
width: 6em;
height: 9em;

position: relative;
display: flex;
flex-direction: column;
justify-content: space-between;
align-items: center;
} 

#check{
margin-top: 50%;
}

input#dietaclientein[type=checkbox] {
position:absolute;
bottom:18px;
right:20px;
}

a #dietacliente{
position:absolute;
bottom:18px;
left:20px;
}

.contBlan2{
background-color: white; 
margin-bottom: 2%;
padding-bottom: 2%;
width: 60%;
display:inline-flex;
flex-direction: column;
justify-content: center; 
text-align: center;
  

}

.carrousel{
display:inline-flex;
flex-direction: row;
flex-wrap: wrap;
overflow-x: auto;       

}

.elemento{
flex:1 0 auto;

}


@media screen and (max-width:800px) {


.contBlan2{
    background-color: white;
    
    margin-bottom: 2%;
    padding: 2%;
    width: 100%;

}

.carrousel{
display:flex;
flex-wrap: nowrap;
overflow-x: auto;
}

.elemento{
flex:1 0 auto;
}
}

//Receta Cliente

.receta1{
grid-area:nombre;

}

.receta2{
grid-area: receta2;

}

.receta3{
grid-area: receta3;

}

.receta4{
grid-area: receta4;

}

.contenedor{

display: grid;
grid-template-areas: 
'nombre nombre nombre nombre nombre nombre'
'receta2 receta2 receta2 receta3 receta3 receta3'
'receta4 receta4 receta4 receta4 receta4 receta4';
gap: 20px;
padding-left: 20%;
padding-right: 20%;

}

.contenedor>div{
background-color: white;
border-radius: 8px;
text-align: center;
padding: 3%;

}

.foto1{
grid-area: foto;
}

.foto2{
grid-area: nombre;
}

.receta1{
display: grid;
grid-template-areas:
'foto foto nombre nombre';
gap: 50px;
}

#horizon li{
display:inline;

}

#list{
display: flex;
justify-content: center;
align-items: center;
}

img#plato{
margin-top: 5%;
height: 70%;
width: 66%;

}